/* Aula 1 */

.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalhoPrincipal .cabecalhoPrincipal-nav {
  display: flex;
}

/* Aula 2 */
.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores
  .container
  .rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-right: 5%;
}

.rodapePrincipal-patrocinadores .container .rodapePrincipal-contatoForm {
  width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

.rodapePrincipal-navMap-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
}

/* Aula 3 */
.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.conteudoPrincipal-cursos-link {
  width: 20%;
}
