/* Aula 1 */

.cabecalhoPrincipal .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalhoPrincipal .cabecalhoPrincipal-nav {
  display: flex;
}

/* Aula 2 */
.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores
  .container
  .rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-right: 5%;
}

.rodapePrincipal-patrocinadores .container .rodapePrincipal-contatoForm {
  width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

.rodapePrincipal-navMap-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
}

/* Aula 3 */
.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.conteudoPrincipal-cursos-link {
  width: 20%;
}

/* Aula 4 */
@media (max-width: 768px) {
  .cabecalhoPrincipal-nav {
    flex-direction: column;
  }

  .cabecalhoPrincipal .container {
    flex-direction: column;
    text-align: center;
    align-items: initial;
  }

  .conteudoPrincipal-cursos-link {
    width: 100%;
  }

  .rodapePrincipal-navMap-list {
    height: auto;
  }

  .rodapePrincipal-patrocinadores .container {
    flex-direction: column;
    align-items: center;
  }

  .rodapePrincipal-patrocinadores .container .rodapePrincipal-contatoForm {
    width: auto;
    justify-content: center;
  }

  .rodapePrincipal-patrocinadores
    .container
    .rodapePrincipal-patrocinadores-list {
    width: 100%;
    margin-right: 0;
    justify-content: space-around;
  }

  .cabecalhoPrincipal-nav-link-app {
    order: -1;
  }

  .videoSobre .container {
    flex-direction: column;
  }

  .videoSobre-video {
    margin: 0 auto;
  }
}

.videoSobre .container {
  display: flex;
  justify-content: center;
}

.videoSobre-sobre {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.videoSobre-sobre-list {
  flex-grow: 1;
}

.videoSobre-video {
  flex-grow: 1;
  flex-shrink: 2;
}
